# Review

### Dictionaries

Pythonâ€™s dictionaries allow you to connect pieces of related information.  Remember that Python lists are created with a square brackets `[]`, while dictionaries use curly braces `{}` where key value pairs (the related information) is separated by a colon. 

# Sets

Python **Sets** are like lists in many ways, however they have different fewer methods, and are in no particular order.  You can create sets two ways.  First, looks a lot like a dictionary:

In [1]:
example = {1,2,3,4,5,6,7,8,9,10}

type(example)

set

Notice when calling the `type` function on the `example` variable we see that it is a **set**.  Had we used colons to create relationships, our set would be a dictionary:

In [31]:
example = {1:2,3:4,5:6,7:8,9:10}

type(example)

dict

Many programers prefer the second way of creating a set, by using the **`set()`** function on a list:

In [45]:
example_list = [1,2,3,4,5,6,7,8,9,10]
example = set(example_list)

type(example)

set

Here is simplified way to put a list inside the set function:

In [46]:
example = set([1,2,3,4,5,6,7,8,9,10])

type(example)

set

Python sets have no repeated values, and like dictionaries are in no particular order. It is a great tool for removing duplicates. For example:

> Below is a list of people with an amazing name<br>
> Followed by a set.

In [61]:
great_names = ['brian', 'brian', 'brian', 'bryan', 'brian', 'brian', 'bryan', 
               'brian', 'brain', 'brian', 'brian', 'brian', 'brian', 'brian', 
               'brian', 'bryan', 'brian', 'brain', 'brian', 'brian', 'brian', 
               'brian', 'brian', 'brian', 'brian', 'brian', 'bryan', 'brain', 
               'brian', 'bryan', 'brian', 'brian', 'brian', 'brian', 'brian' ,
               'brian', 'brain', 'brian', 'brian', 'brian', 'brian', 'brian', 
               'brian', 'bryan', 'brian', 'brain', 'brian', 'brian', 'brian', 
               'brian', 'bryan', 'brian', 'brian', 'bryan', 'brian' ,'brian' ,
               'brian', 'brain', 'brian', 'brian', 'brian', 'brian', 'brian', 
               'brian', 'bryan', 'brian', 'brain', 'brian']

len(great_names)

68

In [62]:
great_name_set = set(great_names)

len(great_name_set)

3

In [63]:
great_name_set

{'brain', 'brian', 'bryan'}

In addtion to removing duplicates, sets are fantastic and designed for making comparisons such as **unions**:
<img src="images/GALA_07_image_01.png">

and **intersection**:
<img src="images/GALA_07_image_02.png">

## Example using integers 1 - 10

In [49]:
even = set([2,4,6,8,10]) # even numbers
odd = {1,3,5,7,9} # odd numbers
prime = set([2,3,5,7]) # integers that cannot be made by multiplying other integer.
composite = set([4,6,8,9,10]) # positive integer that can be formed by multiplying two smaller positive integers

Let's look at the even and odd **Union** using the **`union()`** method

In [50]:
even.union(odd)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

We can do the same to the odd numbers and get a similar result:

In [51]:
odd.union(even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Now lets find the odd prime numbers using the **`intersection`** methond:

In [52]:
odd.intersection(prime)

{3, 5, 7}

Notice how the comparisons do not change the original values:

In [53]:
odd

{1, 3, 5, 7, 9}

In [54]:
even

{2, 4, 6, 8, 10}

In [55]:
odd.intersection(even)

set()