# Review

Last week we discussed the two **Number**  Data Types:
>**Integer** and<br>
> **Float**

In addition, there is a third Number Data Type which is a **Complex** Number, also known as an *Imaginary* number.  In math, the symbol is the letter `i`, however the `i` is used for something else in most computer programing languages, including python.  So in python, we use `j`.  Here is an example of a complex number:

**`47j`**

We will not go into it here, as complex numbers are typically used in Quadratic Equations and calculating AC current.  I just want you to know there is a third number type.

# Lists

Today, we're going to play with **Lists**, a new data type. 

(Rememeber the other data types?  **Strings** and **Numbers**, of which there are three types: **integers**, **floats**, and **complex**).

A LIST is a collection of items in a particular order. You can make a LIST that includes the letters of the alphabet; the digits from 0–9; or the names of all the people in your family. You can put anything you want into a LIST, and the items in your LIST don’t have to be related in any particular way. Because a list usually contains more than one element, it’s a good idea to make the name of your LIST plural, such as letters, digits, or names.

In Python, square brackets `[ ]` indicate a list, and individual elements in the list are separated by commas. Here’s a simple example of a list that contains a few brands of bicycles:

In [153]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [154]:
type(bicycles)

list

## Accessing Elements in a List

LISTS are ordered collections, so you can access any element in a list by telling Python the position, also known as the **index**, of the item desired.  We do this with the location of the item in the list.  Remember, in most computer languages the first position is `0`. To access an element in a LIST, write the name of the LIST followed by the index of the item enclosed in square brackets:

In [155]:
print(bicycles[0])

trek

You can also use the methods we use on elements in the list, and since `cannondale` is a string data type, we can use a string method such as `.title()` as follows (notice the `1` in `[]` to select the second item:

In [156]:
print(bicycles[1].title())

Cannondale

## As mentioned before the Index Positions Start at 0, Not 1

Edit the code below to select the 4th bicycle in `bicycles`:

In [157]:
print(bicycles[4].title())

IndexError: list index out of range

## What if you have a huge list such as the following names that start with the letter 'A':

In [158]:
a_names = ['Aaren' , 'Aarika' , 'Abagael' , 'Abagail' , 'Abbe' , 'Abbey' , 'Abbi' , 'Abbie' , 
'Abby' , 'Abbye' , 'Abigael' , 'Abigail' , 'Abigale' , 'Abra' , 'Ada' , 'Adah' , 
'Adaline' , 'Adan' , 'Adara' , 'Adda' , 'Addi' , 'Addia' , 'Addie' , 'Addy' , 'Adel' , 
'Adela' , 'Adelaida' , 'Adelaide' , 'Adele' , 'Adelheid' , 'Adelice' , 'Adelina' , 
'Adelind' , 'Adeline' , 'Adella' , 'Adelle' , 'Adena' , 'Adey' , 'Adi' , 'Adiana' , 
'Adina' , 'Adora' , 'Adore' , 'Adoree' , 'Adorne' , 'Adrea' , 'Adria' , 'Adriaens' , 
'Adrian' , 'Adriana' , 'Adriane' , 'Adrianna' , 'Adrianne' , 'Adriena' , 'Adrienne' , 
'Aeriel' , 'Aeriela' , 'Aeriell' , 'Afton' , 'Ag' , 'Agace' , 'Agata' , 'Agatha' , 
'Agathe' , 'Aggi' , 'Aggie' , 'Aggy' , 'Agna' , 'Agnella' , 'Agnes' , 'Agnese' , 
'Agnesse' , 'Agneta' , 'Agnola' , 'Agretha' , 'Aida' , 'Aidan' , 'Aigneis' , 'Aila' , 
'Aile' , 'Ailee' , 'Aileen' , 'Ailene' , 'Ailey' , 'Aili' , 'Ailina' , 'Ailis' , 
'Ailsun' , 'Ailyn' , 'Aime' , 'Aimee' , 'Aimil' , 'Aindrea' , 'Ainslee' , 'Ainsley' , 
'Ainslie' , 'Ajay' , 'Alaine' , 'Alameda' , 'Alana' , 'Alanah' , 'Alane' , 'Alanna' , 
'Alayne' , 'Alberta' , 'Albertina' , 'Albertine' , 'Albina' , 'Alecia' , 'Aleda' , 
'Aleece' , 'Aleen' , 'Alejandra' , 'Alejandrina' , 'Alena' , 'Alene' , 'Alessandra' , 
'Aleta' , 'Alethea' , 'Alex' , 'Alexa' , 'Alexandra' , 'Alexandrina' , 'Alexi' , 
'Alexia' , 'Alexina' , 'Alexine' , 'Alexis' , 'Alfi' , 'Alfie' , 'Alfreda' , 'Alfy' , 
'Ali' , 'Alia' , 'Alica' , 'Alice' , 'Alicea' , 'Alicia' , 'Alida' , 'Alidia' , 'Alie' , 
'Alika' , 'Alikee' , 'Alina' , 'Aline' , 'Alis' , 'Alisa' , 'Alisha' , 'Alison' , 
'Alissa' , 'Alisun' , 'Alix' , 'Aliza' , 'Alla' , 'Alleen' , 'Allegra' , 'Allene' , 
'Alli' , 'Allianora' , 'Allie' , 'Allina' , 'Allis' , 'Allison' , 'Allissa' , 'Allix' , 
'Allsun' , 'Allx' , 'Ally' , 'Allyce' , 'Allyn' , 'Allys' , 'Allyson' , 'Alma' , 
'Almeda' , 'Almeria' , 'Almeta' , 'Almira' , 'Almire' , 'Aloise' , 'Aloisia' , 'Aloysia' , 
'Alta' , 'Althea' , 'Alvera' , 'Alverta' , 'Alvina' , 'Alvinia' , 'Alvira' , 'Alyce' , 
'Alyda' , 'Alys' , 'Alysa' , 'Alyse' , 'Alysia' , 'Alyson' , 'Alyss' , 'Alyssa' , 
'Amabel' , 'Amabelle' , 'Amalea' , 'Amalee' , 'Amaleta' , 'Amalia' , 'Amalie' , 
'Amalita' , 'Amalle' , 'Amanda' , 'Amandi' , 'Amandie' , 'Amandy' , 'Amara' , 'Amargo' , 
'Amata' , 'Amber' , 'Amberly' , 'Ambur' , 'Ame' , 'Amelia' , 'Amelie' , 'Amelina' , 
'Ameline' , 'Amelita' , 'Ami' , 'Amie' , 'Amii' , 'Amil' , 'Amitie' , 'Amity' , 
'Ammamaria' , 'Amy' , 'Amye' , 'Ana' , 'Anabal' , 'Anabel' , 'Anabella' , 'Anabelle' , 
'Analiese' , 'Analise' , 'Anallese' , 'Anallise' , 'Anastasia' , 'Anastasie' , 
'Anastassia' , 'Anatola' , 'Andee' , 'Andeee' , 'Anderea' , 'Andi' , 'Andie' , 'Andra' , 
'Andrea' , 'Andreana' , 'Andree' , 'Andrei' , 'Andria' , 'Andriana' , 'Andriette' , 
'Andromache' , 'Andy' , 'Anestassia' , 'Anet' , 'Anett' , 'Anetta' , 'Anette' , 'Ange' , 
'Angel' , 'Angela' , 'Angele' , 'Angelia' , 'Angelica' , 'Angelika' , 'Angelina' , 
'Angeline' , 'Angelique' , 'Angelita' , 'Angelle' , 'Angie' , 'Angil' , 'Angy' , 'Ania' , 
'Anica' , 'Anissa' , 'Anita' , 'Anitra' , 'Anjanette' , 'Anjela' , 'Ann' , 'Ann-Marie' , 
'Anna' , 'Anna-Diana' , 'Anna-Diane' , 'Anna-Maria' , 'Annabal' , 'Annabel' , 'Annabela' , 
'Annabell' , 'Annabella' , 'Annabelle' , 'Annadiana' , 'Annadiane' , 'Annalee' , 
'Annaliese' , 'Annalise' , 'Annamaria' , 'Annamarie' , 'Anne' , 'Anne-Corinne' , 
'Anne-Marie' , 'Annecorinne' , 'Anneliese' , 'Annelise' , 'Annemarie' , 'Annetta' , 
'Annette' , 'Anni' , 'Annice' , 'Annie' , 'Annis' , 'Annissa' , 'Annmaria' , 'Annmarie' , 
'Annnora' , 'Annora' , 'Anny' , 'Anselma' , 'Ansley' , 'Anstice' , 'Anthe' , 'Anthea' , 
'Anthia' , 'Anthiathia' , 'Antoinette' , 'Antonella' , 'Antonetta' , 'Antonia' , 
'Antonie' , 'Antonietta' , 'Antonina' , 'Anya' , 'Appolonia' , 'April' , 'Aprilette' , 
'Ara' , 'Arabel' , 'Arabela' , 'Arabele' , 'Arabella' , 'Arabelle' , 'Arda' , 'Ardath' , 
'Ardeen' , 'Ardelia' , 'Ardelis' , 'Ardella' , 'Ardelle' , 'Arden' , 'Ardene' , 'Ardenia' , 
'Ardine' , 'Ardis' , 'Ardisj' , 'Ardith' , 'Ardra' , 'Ardyce' , 'Ardys' , 'Ardyth' , 
'Aretha' , 'Ariadne' , 'Ariana' , 'Aridatha' , 'Ariel' , 'Ariela' , 'Ariella' , 
'Arielle' , 'Arlana' , 'Arlee' , 'Arleen' , 'Arlen' , 'Arlena' , 'Arlene' , 'Arleta' , 
'Arlette' , 'Arleyne' , 'Arlie' , 'Arliene' , 'Arlina' , 'Arlinda' , 'Arline' , 'Arluene' , 
'Arly' , 'Arlyn' , 'Arlyne' , 'Aryn' , 'Ashely' , 'Ashia' , 'Ashien' , 'Ashil' , 'Ashla' , 
'Ashlan' , 'Ashlee' , 'Ashleigh' , 'Ashlen' , 'Ashley' , 'Ashli' , 'Ashlie' , 'Ashly' , 
'Asia' , 'Astra' , 'Astrid' , 'Astrix' , 'Atalanta' , 'Athena' , 'Athene' , 'Atlanta' , 
'Atlante' , 'Auberta' , 'Aubine' , 'Aubree' , 'Aubrette' , 'Aubrey' , 'Aubrie' , 'Aubry' , 
'Audi' , 'Audie' , 'Audra' , 'Audre' , 'Audrey' , 'Audrie' , 'Audry' , 'Audrye' , 'Audy' , 
'Augusta' , 'Auguste' , 'Augustina' , 'Augustine' , 'Aundrea' , 'Aura' , 'Aurea' , 
'Aurel' , 'Aurelea' , 'Aurelia' , 'Aurelie' , 'Auria' , 'Aurie' , 'Aurilia' , 'Aurlie' , 
'Auroora' , 'Aurora' , 'Aurore' , 'Austin' , 'Austina' , 'Austine' , 'Ava' , 'Aveline' , 
'Averil' , 'Averyl' , 'Avie' , 'Avis' , 'Aviva' , 'Avivah' , 'Avril' , 'Avrit' , 'Ayn']

How would you get the last position in the list?  One way would be to count all the names, thankfully you can do that with the length or **`len()`** function, which will count the number of names in the list:

In [159]:
len(a_names)

463

Knowing that there 463 names we could do the following, notice how I am using 462, as the index starts with 0:

In [160]:
print(a_names[462])

Ayn

As you can imagine, there is a more efficient way to get the last item in a list: 
    
Python has a special syntax for accessing the last element in a list. By asking for the item at index -1, Python always returns the last item in the list. This syntax is quite useful, because you’ll often want to access the last items in a list without knowing exactly how long the list is. This convention extends to other negative index values as well. The index -2 returns the second item from the end of the list, the index -3 returns the third item from the end, and so forth. Notice how it starts with -1 not -0.

In [162]:
print(a_names[-463])

Aaren

### Using Individual Values from a List

You can use individual values from a list just as you would any other variable. For example, you can use concatenation to create a message based on a value from a list.

In [163]:
message = "My friend " + a_names[34] + " is " + a_names[34]
print(message)

My friend Adella is Adella

Let's go back to our bicycles list.  First, run the cell below to see if it is still loaded into memory:

In [164]:
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

## Adding to a list

Let's say you wanted to add to the list, to do so we use the **`.append()`** method like so (notice how schwinn is added to the end of the list):

In [165]:
# This line is incase you want to rest bicycles to it's original state. 
#bicycles = ['trek', 'cannondale', 'redline', 'specialized']

bicycles.append('schwinn') 
print(bicycles[-1])
print(bicycles)

schwinn
['trek', 'cannondale', 'redline', 'specialized', 'schwinn']

### Using Append to create a list:

In [166]:
singers = []
singers.append('taylor swift') 
singers.append('demi lavato') 
singers.append('alicia keys') 
singers.append('ariana grande') 
print(singers)

['taylor swift', 'demi lavato', 'alicia keys', 'ariana grande']

We can use string, with spaces, as a single element in a list.  What if we counted, would there be 8 names or 4?  Let's try the `len()` function and see:

In [167]:
len(singers)

4

Now we can use string methods on string elements inside the string:

In [168]:
singers[1].title()

'Demi Lavato'

See anything wrong **Demi *Lavato*** superfans? 

### Replacing an item in a list is like asigning a variable:

In [169]:
singers[1] = 'demi lovato'
print(singers[1].title())

Demi Lovato

### Inserting Elements into a List
You can add a new element at any position in your list by using the **`insert()`** method. You do this by specifying the index of the new element and the value of the new item.  Unlike the text manipulation methods (.title(), .upper(), etc..) the `insert()` method requires **arguments** to be passed through the method in the parenthesies:  The first argument is the possition and the second is what you want placed.  Let's add Selena Gomez infront of Alicia Keys.  Since Alicia Keys is in the third possiton or the `2` index we would do the following:

In [170]:
singers.insert(2, 'selena gomez')
print(singers)

['taylor swift', 'demi lovato', 'selena gomez', 'alicia keys', 'ariana grande']

### Deleting Elements from a List

How about removing and item from a list?  Here we will use the **delete `del`** function.  Have you noticed that we have been using both methods and functions?  Let's remove Taylor Swift:

In [171]:
del singers[0] 
print(singers)

['demi lovato', 'selena gomez', 'alicia keys', 'ariana grande']

### Removing an Item Using the `pop()` Method

Sometimes you’ll want to use the value of an item after you remove it from a list. For example, you might want to remove a user from a list of active members and then add that user to a list of inactive members.  

The **`pop()`** method removes the last item in a list, but it lets you work with that item after removing it. The term pop comes from thinking of a list as a stack of items and popping one item off the top of the stack. In this analogy, the top of a stack corresponds to the end of a list.

First let's create a new list using a range of names from the `a_names` list.  To select a **range**, instead of a single item from a list, you pass two numbers seperated by a colon `:`.   In this case we are goign to creat a new list called `users`:

In [172]:
users = a_names[0:11]
print(users)

['Aaren', 'Aarika', 'Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abbye', 'Abigael']

Now we will `pop()` Abigael, the last person in the list, into the new list `inactive_users`.  Notice that we are creating a new list, `inactive_users`,  while editing the original list `users`:

In [173]:
inactive_users = users.pop()
print(users)

['Aaren', 'Aarika', 'Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abbye']

In [174]:
print(inactive_users)

Abigael

### Popping Items from any Position in a List

We can also pop items from any possition in a list:

In [175]:
inactive_users = users.pop(6)
print(users)

['Aaren', 'Aarika', 'Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbie', 'Abby', 'Abbye']

In [176]:
print(inactive_users)

Abbi

### Notice anything?  

Abbi replaced Abagail!  That is becasue is we look at the type of variable `inactive_users` is we will see it is a string, not a list:

In [177]:
type(inactive_users)

str

### Let's fix that!

In [178]:
users = a_names[0:11]
inactive_users = []
inactive_users.append(users.pop())
print(users)

['Aaren', 'Aarika', 'Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abbye']

In [179]:
print(inactive_users)

['Abigael']

In [180]:
inactive_users.append(users.pop(6))

In [181]:
print(inactive_users)

['Abigael', 'Abbi']

In [182]:
type(inactive_users)

list

### Removing an Item by Value
Sometimes you won’t know the position of the value you want to remove from a list. If you only know the value of the item you want to remove, you can use the **`remove()`** method.  Let's remove *Aarika* from the `users` list.

In [ ]:
users.remove('Aarika') 
print(users)

## Organizing a List

Often, your lists will be created in an unpredictable order, because you can’t always control the order in which your users provide their data. Although this is unavoidable in most circumstances, you’ll frequently want to present your information in a particular order. Sometimes you’ll want to preserve the original order of your list, and other times you’ll want to change the original order. Python provides a number of different ways to organize your lists, depending on the situation.

### Sorting a List Permanently with the `sort()` Method

The **`sort()`** method changes the order of the list permanently. The cars are now in alphabetical order, and we can never revert to the original order:

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru'] 
cars.sort()
print(cars)

You can also sort this list in reverse alphabetical order by passing the argument `reverse=True` to the `sort()` method.

In [ ]:
cars.sort(reverse=True)
print(cars)

### Sorting a List Temporarily with the `sorted()` Function

Since `sorted()` is a function, instead of a method, it work a little differntly:

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(sorted(cars))

Things don't always work this well but the sorted funtion also has the `reverse=True` argument:'

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(sorted(cars,reverse=True))

### Reverse Order *method* with `reverse()`

To reverse the original order of a list, you can use the `reverse()` method.
If we originally stored the list of cars in chronological order according to when we owned them, we could easily rearrange the list into reverse chronological order:

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.reverse()
print(cars)

Notice that reverse() doesn’t sort backward alphabetically; it simply reverses the order of the list: